.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-container {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    padding: 4px;
    width: 100%; /* Szerokość 100% */
    margin-top: 10px; /* 10px odstępu z góry */
    margin-bottom: 10px;
}

/* Styl dla samego selecta */
.select-container select {
    position: relative; /* Dodane, aby umożliwić pozycjonowanie strzałki */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: calc(100% - 24px); /* Szerokość 100% minus 24px na uwzględnienie paddingu i miejsca dla strzałki */
    padding: 8px 12px; /* Dostosowanie paddingu dla miejsca na strzałkę */
    font-size: 16px; /* Większy rozmiar tekstu */
    line-height: 1.5;
    color: #555; /* Kolor tekstu na białym tle */
    border: 1px solid #ccc;
    border-radius: 8px; /* Zaokrąglenie krawędzi */
    background-color: #f0f0f0; /* Bardzo jaśniejszy odcień błękitu */
    cursor: pointer;
    outline: none;
    text-align: center; /* Tekst na środku */
    margin-top: 16px;
    margin-bottom: 16px;
}

.select-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px; /* Zwiększenie odstępu od płytek daty */
    font-size: 18px; /* Zwiększenie rozmiaru etykiety */
}

/* Styl po najechaniu na select */
.select-container:hover select {
    border-color: #aaa;
}

/* Styl po wybraniu wartości */
.select-container select:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Styl dla opcji selecta */
.select-container select option {
    padding: 8px 12px;
    background-color: #f0f0f0;
}

/* Styl po najechaniu na opcję */
.select-container select option:hover {
    background-color: #464e8b;
}

.date-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px; /* Zwiększenie odstępu od płytek daty */
    font-size: 18px; /* Zwiększenie rozmiaru etykiety */
}

.date-tiles {
    display: flex;
}

.date-tile {
    display: inline-block;
    background-color: #f0f0f0;
    padding: 14px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 20px;

}

.date-tile:last-child {
    margin-right: 0;
}

.selected {
    background-color: #464e8b;
    color: white;
}