.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-image: radial-gradient(circle at center center, transparent 0%,rgb(0,0,0) 85%),linear-gradient(78deg, rgba(192, 192, 192,0.05) 0%, rgba(192, 192, 192,0.05) 50%,rgba(60, 60, 60,0.05) 50%, rgba(60, 60, 60,0.05) 100%),linear-gradient(227deg, rgba(97, 97, 97,0.05) 0%, rgba(97, 97, 97,0.05) 50%,rgba(52, 52, 52,0.05) 50%, rgba(52, 52, 52,0.05) 100%),linear-gradient(240deg, rgba(98, 98, 98,0.05) 0%, rgba(98, 98, 98,0.05) 50%,rgba(249, 249, 249,0.05) 50%, rgba(249, 249, 249,0.05) 100%),linear-gradient(187deg, rgba(1, 1, 1,0.05) 0%, rgba(1, 1, 1,0.05) 50%,rgba(202, 202, 202,0.05) 50%, rgba(202, 202, 202,0.05) 100%),linear-gradient(101deg, rgba(61, 61, 61,0.05) 0%, rgba(61, 61, 61,0.05) 50%,rgba(254, 254, 254,0.05) 50%, rgba(254, 254, 254,0.05) 100%),linear-gradient(176deg, rgba(237, 237, 237,0.05) 0%, rgba(237, 237, 237,0.05) 50%,rgba(147, 147, 147,0.05) 50%, rgba(147, 147, 147,0.05) 100%),linear-gradient(304deg, rgba(183, 183, 183,0.05) 0%, rgba(183, 183, 183,0.05) 50%,rgba(57, 57, 57,0.05) 50%, rgba(57, 57, 57,0.05) 100%),radial-gradient(circle at center center, hsl(351,4%,12%),hsl(351,4%,12%));

}

.select-container {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    padding: 4px;
    width: 100%; /* Szerokość 100% */
    margin-top: 10px; /* 10px odstępu z góry */
    margin-bottom: 10px;
}

/* Styl dla samego selecta */
.select-container select {
    position: relative; /* Dodane, aby umożliwić pozycjonowanie strzałki */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: calc(100% - 24px); /* Szerokość 100% minus 24px na uwzględnienie paddingu i miejsca dla strzałki */
    padding: 8px 12px; /* Dostosowanie paddingu dla miejsca na strzałkę */
    font-size: 16px; /* Większy rozmiar tekstu */
    line-height: 1.5;
    color: #555; /* Kolor tekstu na białym tle */
    border: 1.5px solid #ccc;
    border-radius: 8px; /* Zaokrąglenie krawędzi */
    background-color: #f0f0f0; /* Bardzo jaśniejszy odcień błękitu */
    cursor: pointer;
    outline: none;
    text-align: center; /* Tekst na środku */
    margin-top: 16px;
    margin-bottom: 16px;
}

.select-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px; /* Zwiększenie odstępu od płytek daty */
    font-size: 18px; /* Zwiększenie rozmiaru etykiety */
}

/* Styl po najechaniu na select */
.select-container:hover select {
    border-color: #007bff;
}

/* Styl po wybraniu wartości */
.select-container select:focus {
    border-color: #007bff;
}

/* Styl dla opcji selecta */
.select-container select option {
    padding: 8px 12px;
    background-color: aliceblue;
    transition: border-color 0.3s ease; /* Dodajemy płynny efekt przejścia dla koloru obramowania */
    border-bottom: 1px solid transparent; /* Dodajemy transparentną krawędź dolną */
}

/* Styl po najechaniu na opcję */
.select-container select option:hover {
    border-color: #007bff; /* Zmiana koloru obramowania przy najechaniu */
    cursor: pointer; /* Zmiana kursora myszy na wskaźnik przy najechaniu */
}


.date-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px; /* Zwiększenie odstępu od płytek daty */
    font-size: 18px; /* Zwiększenie rozmiaru etykiety */
}

.date-tiles {
    display: flex;
}

.date-tile {
    display: inline-block;
    background-color: aliceblue;
    padding: 14px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1.5px solid #ccc; /* Dodajemy obramowanie */
    white-space: pre-line; /* Umożliwia wyświetlanie wielu linii tekstu */

}

.date-tile:last-child {
    margin-right: 0;
}

.selected {
    background-color: #464e8b;
    color: aliceblue;
}

.date-tile:hover {
    transform: scale(1.1); /* Lekkie powiększenie po najechaniu myszką */
    border-color: #007bff; /* Zmiana koloru obramowania po najechaniu myszką */
}