<header class="header">
  <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
    <div style="display: flex; flex-direction: row; float: left; font-size: 20px;">
      <a routerLink="/homePage" class="a-title">
        Cinematick
      </a>
    </div>
    <div style="display: flex; margin-left: 30px; flex-direction: row; align-items: self-start; font-size: 20px;">
      <a routerLink="/homePage" class="a-header">
        Repertoir
      </a>
    </div>
  </div>

  @if (authService.isLogged$ | async) {
  <div style="display: flex; flex-direction: row; float: right; font-size: 20px;">
    <a (mouseenter)="op.toggle($event)" class="a-header">
      <i style="padding-right: 5px;" class="pi pi-user"></i> Profile
    </a>

    <p-overlayPanel [style]="{'display': 'flex', 'justify-content': 'center'}"  #op>
      <div style="display: flex; flex-direction: column; align-items: center;">
        <div>
          <h3>Welcome {{authService.decodedToken.sub}}!</h3>
        </div>
        <div>
          <button routerLink="/user/orders" class="pop-up-button" pButton>
            <i style="padding-right: 10px;" class="pi pi-receipt"></i> Your orders
          </button>
        </div>
        <div>
          <button routerLink="/user/profile" class="pop-up-button" pButton>
            <i style="padding-right: 10px;" class="pi pi-user-edit"></i> Edit profile
          </button>
        </div>
        <div>
          <button (click)="authService.loggingOut()" class="pop-up-button" pButton>
            <i style="padding-right: 10px;" class="pi pi-sign-out"></i> Log out
          </button>
        </div>
      </div>
    </p-overlayPanel>
  </div>
  } 

  @else {
  <div style="display:flex; flex-direction: row; float: right; font-size: 20px;">
    <a routerLink="/login" class="a-header">
      <i style="padding-right: 5px;" class="pi pi-sign-in"></i> Login
    </a>
    <!-- <p-divider layout="vertical" styleClass="custom-divider"></p-divider> -->
    <a routerLink="/register" class="a-header">
      <i style="padding-right: 5px;" class="pi pi-user-plus"></i>Register
    </a>
  </div>
  }
</header>

<div class="container" style="padding-top: 80px;">
  <router-outlet></router-outlet>
</div>