header {
    position: fixed;
    background-color: #000000;
    color: #FF5D73;
    width: 100%;
    height:fit-content;
    height: 60px;
    padding: 15px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    z-index: 10000;
}

a {
    text-decoration: none;
}

i {
    font-size: 1.1rem;
}



.p-overlaypanel .p-overlaypanel-content {
    padding: 15px;
    color: #FF5D73;
    background-color: #494949;
    border-radius: 5px;
    border-width: 2px;
    border-color: #FF5D73;
}

.p-overlaypanel::before,
.p-overlaypanel::after {
  display: none !important;
}

.pop-up-button {
    width: 160px;
    margin-top: 5px;
    text-align: center;
    color: aliceblue;
    background-color: #FF5D73;
    border-color: #FF5D73;
    transition: transform 0.2s ease-in-out;
}

.pop-up-button:hover {
    transform: scale(1.04);
}

.header-button {
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
    color: #FFFFFF;
    border-color: #000000;
    background-color: #FF5D73;
    transition: transform 0.2s ease-in-out;
}

.header-button:hover {
    background-color: #ee586c;
}