header {
    position: fixed;
    background-color: #464e8b;
    color: aliceblue;
    width: 100%;
    height:fit-content;
    height: 60px;
    padding: 15px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

a {
    text-decoration: none;
}