<header class="header">
  <div>
    <a routerLink="/homePage" style="text-decoration: none; color: inherit; font-size: 35px;">CinemaResSys</a>
  </div>
  <div style="font-size: 20px;">
    <div style="float: right;">
      <i class="pi pi-user" routerLink="/login"></i>
      <a style="padding: 10px; color: aliceblue;" routerLink="/login" routerLinkActive="">Login</a>
      <a style="padding: 10px; color: aliceblue;" routerLink="/register">Register</a>
    </div>
  </div>
</header>

<div class="container" style="padding-top: 80px;">
  <router-outlet></router-outlet>
</div>
