<div class="form-container">
    <p-card header="Hello {{userData.name}} {{userData.surname}}!">
        <ng-template></ng-template>
        <div>

        </div>
        <div>
            <p-fieldset [style]="{'width':'1000px'}">
                <ng-template pTemplate="header">
                    Personal information
                </ng-template>
                <ng-template pTemplate="content">
                    <form [formGroup]="updateForm" (submit)="updateUserData()">
                        <div style="display: flex; justify-content: space-between;">
                            <div style="flex: 1;">
                                <div class="field">
                                    <label>Name</label>
                                    <input type="text" formControlName="name" value="{{userData.name}}" pInputText
                                         class="input-area">
                                </div>
                                <div class="field">
                                    <label>E-mail</label>
                                    <input type="text" formControlName="email" value="{{userData.email}}"
                                         class="input-area" pInputText>
                                </div>

                            </div>
                            <div style="flex: 1">
                                <div class="field">
                                    <label>Surname</label>
                                    <input type="text" formControlName="surname" value="{{userData.surname}}"
                                         class="input-area" pInputText>
                                </div>
                                <div class="field">
                                    <label>Birth date</label>
                                    <p-calendar [style]="{'width':'400px'}" formControlName="dateOfBirth"
                                        [inputStyle]="{'width':'100%',}"
                                        [dateFormat]="'yy-mm-dd'" [showIcon]="true" [iconDisplay]="'input'"
                                        [(ngModel)]="userData.dateOfBirth" />
                                </div>
                            </div>
                        </div>
                        <div style="justify-content: flex-end;">
                            <button pButton (click)="toggleDisabled()"
                                [ngClass]="isDisabled ? 'edit-button' : 'delete-button'" type="button">
                                <span class="p-button-label">{{ isDisabled ? 'Edit' : 'Back' }}</span>
                            </button>
                            <button *ngIf="!isDisabled" pButton type="submit" class="back-button">
                                Confirm Changes
                            </button>
                        </div>
                        <div style="margin-top: 10px;">
                            <small *ngIf="userUpdateErrorMessage.length > 0" style="color: #FF0504">
                                {{userUpdateErrorMessage}}
                            </small>
                            <small *ngIf="userUpdateResponseMessage.length > 0" style="color: #3bc600">
                                {{userUpdateResponseMessage}}
                            </small>
                        </div>
                    </form>
                </ng-template>
            </p-fieldset>
        </div>
        <div>
            <p-fieldset legend="Change password">
                <div>
                    <span>If you want to change your password, press the button below and follow the steps.</span>
                </div>
                <div style="margin-top: 15px;">
                    <button pButton (click)="showDialog()" label="Change password" class="edit-button"></button>
                    <p-dialog header="Change your password" [modal]="true" [(visible)]="visible"
                        [style]="{ width: '400px' }">
                        <form [formGroup]="updatePasswordForm" (submit)="updateUserPassword()">
                            <div style="display: flex; flex-direction: column;">
                                <label style="margin-bottom: 5px;">Password</label>
                                <p-password formControlName="password" [feedback]="false" [toggleMask]="true"></p-password>
                            </div>
                            <div style="display: flex; flex-direction: column; margin-top: 15px;">
                                <label style="margin-bottom: 5px;">Confirm password</label>
                                <p-password formControlName="retPassword" [feedback]="false" [toggleMask]="true"></p-password>
                            </div>
                            <div
                                style="display: flex; justify-content: space-between; margin-top: 25px; padding-right: 15px;">
                                <button pButton label="Back" severity="secondary" (click)="visible = false"
                                    style="width: 120px;" class="edit-button"></button>
                                <button pButton label="Save" type="submit" style="width: 120px;"
                                    class="delete-button"></button>
                            </div>
                            <div style="margin-top: 10px;">
                                <small *ngIf="passwordUpdateErrorMessage.length > 0"
                                    style="color: #FF0504; margin-top: 10px;">
                                    {{passwordUpdateErrorMessage}}
                                </small>
                                <small *ngIf="passwordUpdateResponseMessage.length > 0"
                                    style="color: #3bc600; margin-top: 10px;">
                                    {{passwordUpdateResponseMessage}}
                                </small>
                            </div>
                        </form>
                    </p-dialog>
                </div>
            </p-fieldset>
        </div>
        <div>
            <p-fieldset legend="Delete account">
                <div>
                    <span>If you delete the account, the data assigned to it will be irretrievably lost.</span>
                </div>
                <div style="margin-top: 15px;">
                    <button pButton class="delete-button">
                        <i class="pi pi-trash" style="margin-right: 5px;"></i> <span class="p-button-label">Delete
                            account</span>
                    </button>
                </div>
            </p-fieldset>
        </div>
    </p-card>
</div>