<div class="form-container">
    <p-table styleClass="p-datatable-striped" [value]="userBookings" [tableStyle]="{'min-width': '970px'}">
        <ng-template pTemplate="header">
            <tr>
                <th>Order ID</th>
                <th>Cinema</th>
                <th>Movie</th>
                <th>Price</th>
                <th>Status</th>
                <th>Edit/Delete</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-booking>
            <tr>
                <td>{{booking.bookingNumber}}</td>
                <td>{{booking.cinemaName}}</td>
                <td>{{booking.movieName}}</td>
                <td>{{booking.totalPrice}} $</td>
                <td>{{booking.status.name}}</td>
                <td>
                    <button pButton label="Edit"></button>
                    <button pButton label="Cancel"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>