<form class="form-container" [formGroup]="registerForm" (ngSubmit)="sendRegisterData()">
    <p-card header="Register" [style]="{'width': '560px', 'border-radius': '25px', 'text-align': 'center'}">
        <div class="field">
            <label>E-mail</label>
            <input type="text" formControlName="email" pInputText>
        </div>
        <div class="field">
            <label>Name</label>
            <input type="text" formControlName="name" pInputText>
        </div>
        <div class="field">
            <label>Surname</label>
            <input type="text" formControlName="surname" pInputText>
        </div>
        <div class="field">
            <label>Date of birth</label>
            <p-calendar formControlName="date_of_birth" [dateFormat]="'yy-mm-dd'" [showIcon]="true" 
            [iconDisplay]="'input'"  [style]="{'width': '100%'}"/>
        </div>
        <div class="field">
            <label>Password</label>
            <p-password type="text" formControlName="password" [toggleMask]="true" [style]="{'width':'100%',}"/>
        </div>
        <div class="field">
            <label>Confirm password</label>
            <p-password type="text" formControlName="retPassword" [feedback]="false" [toggleMask]="true" [style]="{'width':'100%',}"/>
        </div>
        <div style="padding-bottom: 15px; color: #eb0202;">
            @if (this.registerForm.value.password != this.registerForm.value.retPassword &&
            this.registerForm.get('password')?.dirty && 
            this.registerForm.get('retPassword')?.dirty
            ){
                <small>Passwords do not match.</small>
            }
            @if (errorMessage.length > 0) {
                <small>{{errorMessage}}</small>
            }
        </div>
        <button (click)="registerClick()"  type="submit" class="registerButton" pButton>
            @if(!isRegistering)
            {<span class="p-button-label">Register account</span>}
            @else
            {<span class="p-button-label">Registering <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i></span>}
        </button>
        <p-divider align="center" type="solid">
            <b>Already have an account?</b>
        </p-divider>
        <button label="Log in" class="loginButton" routerLink="/login" pButton></button>
    </p-card>
</form>